
<div class="table-wrapper">			
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2><%- name %> <b>Product</b></h2>
            </div>
            <div class="col-sm-6">
                <div class="search-box">
                    <div class="input-group">								
                        <input type="text" id="search" class="form-control" placeholder="Search by Name">
                        <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                    <th>Number</th>
                    <th style="width: 15%;">Id</th>
                    <th style="width: 15%;">Category</th>                        
                    <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(function(category,index){ %>
                <tr>
                    <td><%- index +1 %></td>
                    <td class="id"><%- category._id  %></td>
                    <td name="name" class="editRow"><a href="/admin/product/<%- category._id %>"><%- category.name %></a></td>
                    <td>
                        <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a href="#" class="delete delete_category" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                    </tr>
            <% }) %>    
        </tbody>
    </table>
    <button type="button" class="btn btn-primary save save_catergory" >Save</button>
    <button type="button" class="btn btn-primary add" >Add</button>
</div>
    