<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:8000/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>    
    <link rel="icon" type="image/png" href="images/icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/css/fileinput.css">
    <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/add_product.css" rel="stylesheet" />

    <link rel="stylesheet prefetch" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>

</head>
<body>
    <div style="padding: 40px;margin-bottom: 200px ;">
    <form action="" method="POST" onsubmit="return validate()" class="needs-validation" novalidate enctype="multipart/form-data" >
        <div class="form-row" style="display: none;">
            <label for="name">Tên sản phẩm</label>
            <input id="id" name="seller" class="form-control" type="text" placeholder="name" required value="<%- user.username %>">
        </div>
        <!-- Name  -->
        <div class="form-row">
            <label for="name">Tên sản phẩm</label>
            <input id="name" name="name" class="form-control" type="text" placeholder="name" required>
            <div class="invalid-feedback">
                Nhập tên sản phẩm !!!
            </div>
        </div>
        <!-- Price  -->
        <div class="form-row">
            <div class="col-md-6 mb-3" style="padding: 0!important;padding-right: 5px!important;">
                <label for="Price">Giá khởi điểm</label>
                <input type="text" class="form-control" id="price" name="Gia_Khoi_Diem" placeholder="Price" required>
                <div class="invalid-feedback">
                Nhập giá khởi điểm !!!
                </div>
            </div>
            <div class="col-md-6 mb-3" style="padding: 0!important; padding-left: 5px!important;">
                <label for="step">Bước giá</label>
                <input type="text" class="form-control" id="step" name="Buoc_gia" placeholder="Step" required>
                <div class="invalid-feedback">
                    Nhập bước giá !!!
                </div>
            </div>
        </div>
        <!-- Category -->
        <div class="form-row">
            <label for="category">Danh mục</label>
            <select class="form-control" id="category" name="selectCate">
                <% cates.forEach(function(cate,index){ %>
                    <option value="<%- cate._id %>"><%- cate.name %></option>
                <% }) %> 
            </select>
        </div>
        <!-- Time -->
        <div class="form-row">
            <label for="date_end">Chọn ngày kết thúc: </label>
            <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy"> 
                <input class="form-control" type="text" name="date_end" required id="date"> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span> 
                <div class="invalid-feedback">
                    Chọn ngày kết thúc đấu giá!!!
                </div>
            </div>
            
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-3" style="padding: 0!important;padding-right: 5px!important;">
                <label for="hour_end">Thời gian kết thúc (giờ)</label>
                <select class="form-control" id="hour" name="hour">
                  <% for(var i = 0;i < 24;i++) {%>                         
                        <option><%- i %></option>
                    <% } %>
                </select>
            </div>
            <div class="col-md-6 mb-3" style="padding: 0!important;padding-right: 5px!important;">
                <label for="min_end">Thời gian kết thúc (phút)</label>
                    <select class="form-control" id="min" name="min">
                    <% for(var i = 0;i < 60;i+=5) {%>
                            <option><%- i %></option>
                        <% } %>
                    </select>
            </div>
        </div>

        <div class="custom-control custom-checkbox mr-sm-2" style="float: right;">
            <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
            <label class="custom-control-label" for="customControlAutosizing">Tự động gia hạn</label>
        </div>

        <div class="form-group" style="padding-top: 15px;">
            <label for="description">Mô tả sản phẩm</label>
            <textarea class="form-control" name="content" id="editor" rows="15" required></textarea>
            <div class="invalid-feedback">
                Viết mô tả sản phẩm !!!
            </div>
        </div>
        
        <div class="form-row">
            <label class="col-md-2 control-label">
                Đăng ảnh sản phẩm (3 ảnh)
            </label>
            <div class="col-md-10">               
                <input id="files" name="input2[]" type="file" class="file" multiple data-show-upload="true" data-show-caption="true" >                
            </div>
        </div> 
        <button class="btn btn-primary" id="Submit" style="float: right; margin-top: 10px;">Submit</button>
    </form>  

    </div>
<!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.3.1/js/fileinput.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
    <script src="js/add_product.js"></script>

</body>
</html>
