<h1 style="padding: 10px;"><%- category.name %></h1>

<div class="row" style="padding: 20px;">
    <% products.forEach(function(p,index){ %>    
      <div class="col-sm-3 mb-3">
        <div class="card h-100">
          <img src="upload/<%- p.images[0] %>" alt="ProName" title="ProName" class="card-img-top" style="max-height: 300px;">
          <div class="card-body" style="position: relative;height: 100px">
            <div style="position: absolute;bottom: 25px">
              <h6 class="card-title"><%- p.name %></h6>
              <h5 class="card-title text-danger"><%- p.Gia_Hien_Tai %>đ</h5>
            </div>            
          </div>
          <div class="card-footer text-center">
            <a class="btn btn-sm btn-outline-primary" href="/chi-tiet-san-pham/<%- p._id %>" role="button">
              <i class="fa fa-eye" aria-hidden="true"></i>
              Details
            </a>  
            <% if(typeof user !== "undefined"){ %>
              <div id="id" style="display: none;"><%- user._id %></div>
              <div id="product_id" style="display: none;"><%- p._id %></div>
            <%  } %>
            <a class="btn btn-sm btn-outline-danger favorite" href="#" role="button">
                <i class="fa fa-heart" aria-hidden="true"></i>
                Add to favorite
              </a>        
          </div>
        </div>
      </div>
    <% }) %>
</div>

<!-- PAGINATION -->
<div class="category-pagination" style="padding: 20px;position: relative;top:300px;">

  <div class="pagination" align="center" style="width: 100px;height: 40px;border: black; border-style: ridge;
    border-width: 1px; box-shadow: 2px 2px 5px grey;
    background-color: #F4F4F4;display: inline-block;">
    <a href="/category/<%- cateID %>/<%- categoryID %>/1" style="text-align: center;color: black;"><span class="arrow"><<</span> Đầu</a>
    </div>
  <!-- Page 1 -->
  <% if (currentPage == 1) { %> 
    <div class="pagination active_category" align="center" style="width: 40px;height: 40px;border: black; border-style: ridge;
        border-width: 1px; box-shadow: 2px 2px 5px grey;
        background-color: #F4F4F4;display: inline-block;">
      <a href="/category/<%- cateID %>/<%- categoryID %>/1" style="text-align: center;color: black;">1</a>
    </div>
  <% }else{ %>
    <div class="pagination" align="center" style="width: 40px;height: 40px;border: black; border-style: ridge;
        border-width: 1px; box-shadow: 2px 2px 5px grey;
        background-color: #F4F4F4;display: inline-block;">
      <a href="/category/<%- cateID %>/<%- categoryID %>/1" style="text-align: center;color: black;">1</a>
    </div>
  <% } %>
  <!-- Prev Page -->
  <% if( currentPage > 2 && pages > 2){ %>
    <div class="pagination" align="center" style="width: 40px;height: 40px;border: black; border-style: ridge;
        border-width: 1px; box-shadow: 2px 2px 5px grey;
        background-color: #F4F4F4;display: inline-block;">
    <a href="/category/<%- cateID %>/<%- categoryID %>/<%- currentPage - 1 %>" style="text-align: center;color: black;"><%- currentPage - 1 %></a>
    </div>
  <% } %>
    <!-- Current Page -->
  <% if (currentPage > 1 && currentPage < pages){ %>
    <div class="pagination active_category" align="center" style="width: 40px;height: 40px;border: black; border-style: ridge;
        border-width: 1px; box-shadow: 2px 2px 5px grey;
        background-color: #F4F4F4;display: inline-block;">
    <a href="/category/<%- cateID %>/<%- categoryID %>/<%- currentPage %>" style="text-align: center;color: black;"><%- currentPage %></a>
    </div>
  <% } %>

  <!-- Next Page -->
  <% if (currentPage + 1 < pages){ %>
    <div class="pagination active_category" align="center" style="width: 40px;height: 40px;border: black; border-style: ridge;
        border-width: 1px; box-shadow: 2px 2px 5px grey;
        background-color: #F4F4F4;display: inline-block;">
    <a href="/category/<%- cateID %>/<%- categoryID %>/<%- currentPage + 1 %>" style="text-align: center;color: black;"><%- currentPage + 1 %></a>
    </div>
  <% } %>
  
  <!-- Cuối -->
  <% if(pages > 1 && currentPage == pages){ %>
      <div class="pagination active_category" align="center" style="width: 40px;height: 40px;border: black; border-style: ridge;
        border-width: 1px; box-shadow: 2px 2px 5px grey;
        background-color: #F4F4F4;display: inline-block;">
        <a href="/category/<%- cateID %>/<%- categoryID %>/<%- pages %>" style="text-align: center;color: black;"><%- pages %></a>
      </div>
  <% } %>  
  <% if(pages > 1 && currentPage < pages){ %>
    <div class="pagination active_category" align="center" style="width: 40px;height: 40px;border: black; border-style: ridge;
      border-width: 1px; box-shadow: 2px 2px 5px grey;
      background-color: #F4F4F4;display: inline-block;">
      <a href="/category/<%- cateID %>/<%- categoryID %>/<%- pages %>" style="text-align: center;color: black;"><%- pages %></a>
    </div>
  <% } %>  

    <div class="pagination" align="center" style="width: 100px;height: 40px;border: black; border-style: ridge;
    border-width: 1px; box-shadow: 2px 2px 5px grey;
    background-color: #F4F4F4;display: inline-block;">
    <a href="/category/<%- cateID %>/<%- categoryID %>/<%- pages %>" style="text-align: center;color: black;">Cuối <span class="arrow">>></span></a>
    </div>

</div>