 <div style="margin-bottom: 200px;"> 
 <h2 style="padding-left: 100px;">Chi tiết sản phẩm </h2>
    <div class="row">
        <div class="col" style="padding-left: 100px;">
            <div class="slideshow-containerd" style="text-align: center;">
                <div class="mySlides faded">
                    <div class="numbertext">1 / 3</div>
                    <img src="images/ip1.jpg" style="width:80%;height:500px">
                    <div class="text">Caption Text</div>
                </div>
                
                <div class="mySlides faded" style="text-align: center;">
                    <div class="numbertext">2 / 3</div>
                    <img src="images/ip2.jpg" style="width:80%;height:500px">
                    <div class="text">Caption Two</div>
                </div>
                
                <div class="mySlides faded" style="text-align: center;">
                    <div class="numbertext">3 / 3</div>
                    <img src="images/ip3.jpg" style="width:80%;height:500px">
                    <div class="text">Caption Three</div>
                </div>
                
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>    
            </div>
                <br>    
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
        
        </div>
        <div class="col">
            <h4>Iphone X</h4>
            <h4>Giá hiện tại: <%- p.Gia_Hien_Tai %>đ</h4>
            <h4>Bước giá: <%- p.Buoc_gia %>đ</h4>
            <h4>Người bán: <%- p.Seller %> &nbsp&nbsp&nbsp Điểm: 0 &nbsp&nbsp&nbsp <i class="fa fa-thumbs-up " id="up" data-toggle="modal" data-target="#myModal"></i>
                <i class="fa fa-thumbs-down" id="down" data-toggle="modal" data-target="#myModal"></i></h4>
            <h4>Người đặt cao nhất hiện tại: Y &nbsp&nbsp&nbsp Điểm: 8</h4>
            <h4>Thời điểm đăng: <%- p.date_begin %> </h4>
            <h4>Thời điểm kết thúc: <%- p.date_end %></h4>
            <h4>Mô tả chi tiết: </h4>
            <a class="btn btn-sm btn-outline-primary buy" href="#" role="button" 
                style="position: absolute;bottom: 10px!important;" data-toggle="modal" data-target="#buyModal">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Đấu giá
            </a>
            <a class="btn btn-sm btn-outline-danger favorite" href="#" role="button">
                <i class="fa fa-heart" aria-hidden="true"></i>
                Add to favorite
            </a>
        
        </div>
        
    </div>
    <!-- Table history -->
    <div class="row" style="padding-top: 20px;">
        <div class="col" style="padding-left:100px;">  
            <h3 style="border-top: 5px solid ;padding-top: 15px;"> <b>Lịch sử đấu giá </b></h3>          
            <table id="myTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Thời điểm</th>
                        <th style="width: 22%;">Người mua</th>   
                        <th >Giá</th>               
                    </tr>
                </thead>
                <tbody>
                    <% for(i = 0;i < p.thoi_diem.length; i++){ %> 
                        <tr>
                            <td><%- p.thoi_diem[i] %></td>
                            <td><%- p.Bidder[i] %></td>
                            <td><%- p.Bid_price[i] %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    
    </div>
    <!-- Modal comment -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">   
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nhận xét người bán</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="seller" style="display: none;"><%- p.seller %></div>
                <% if(typeof user !== "undefined"){ %>
                    <div id="id" style="display: none;"><%- user._id %></div>
                    <div id="user" style="display: none;"><%- user.username %></div>
                <% } %>
                <textarea id="comment" style="width: 100%;"> </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cmt-btn send" data-dismiss="modal">Submit</button>
            </div>
            </div> 
        </div>
    </div>
    <!-- Model buy -->
    <div class="modal fade" id="buyModal" role="dialog">
        <div class="modal-dialog">   
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h4>Giá hiện tại: <%- p.Gia_Hien_Tai %>đ</h4>
                <h4>Bước giá: <%- p.Buoc_gia %>đ</h4>
                <h4>Đấu giá: </h4>
                <form id="bidForm">
                    <div class="value-button" id="decrease" onclick="decreaseValue(<%- p.Gia_Hien_Tai %>,<%- p.Buoc_gia %>)" value="Decrease Value">-</div>
                    <input type="number" class="value-button" id="number" value="<%- p.Gia_Hien_Tai %>" />
                    <div class="value-button" id="increase" onclick="increaseValue(<%- p.Buoc_gia %>)" value="Increase Value">+</div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cmt-btn " onclick="bid(8500000)" data-dismiss="modal">Submit</button>
            </div>
            </div> 
        </div>
    </div>
</div>