<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Thông tin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Đổi mật khẩu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="score-tab" data-toggle="tab" href="#score" role="tab" aria-controls="score" aria-selected="false">Điểm đánh giá</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane active" id="home" aria-labelledby="home-tab" role="tabpanel">         
        <div class="form" id="registrationForm">            
            <div class="form-group">
                <div class="col-sm-6">
                <label htmlFor="first_name" ><h4>Username</h4></label>
                <input type="text" class="form-control" id="user_name" placeholder="enter your user name" value="<%- user.username %>"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6">
                <label htmlFor="first_name" ><h4>Họ tên</h4></label>
                <input type="text" class="form-control" id="name" placeholder="enter your name" value="<%- user.ho_ten %>"  />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6">
                <label htmlFor="last_name" ><h4>Email</h4></label>
                <input type="email" class="form-control" id="email" placeholder="enter your email" value="<%- user.email %>"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-6">
                <label htmlFor="first_name" ><h4>Địa chỉ</h4></label>
                <input type="text" class="form-control" id="address" placeholder="enter your first name" value="<%- user.address %>"  />
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                <label ><h4>Password</h4></label>
                <input class="form-control" type="password" minLength="8" id="password" readonly
                placeholder="Enter your password" id='oldpassword' onfocus="this.removeAttribute('readonly');" />
                </div>
                <div class="col-sm-6">
                </div>
            </div>

            <div class="form-group" style="padding: 10px;">
                <button class="btn btn-lg btn-success" id="save">Save</button>
                <button class="btn btn-lg" type="reset" id="reset">Reset</button>
                </div>
        </div>
        
    </div>
</div>
    

    <div class="tab-pane fade" id="profile" aria-labelledby="profile-tab" role="tabpanel">
        <div class="form" id="registrationForm" style="padding: 10px!important;" autocomplete='off' >        
            <div class="row">
                <div class="col-sm-6">
                <label ><h4>Current password</h4></label>
                <input class="form-control" type="password" minLength="8" id="oldpassword" readonly
                placeholder="Password must be over 6 characters" id='oldpassword' onfocus="this.removeAttribute('readonly');" />
                </div>
                <div class="col-sm-6">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                <label ><h4>New password</h4></label>
                <input class="form-control"  type="password" minLength="8"  id="newpassword" placeholder="Password must be over 6 characters" id='newpassword' />
                </div>
                <div class="col-sm-6">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                <label ><h4>Confirm new password</h4></label>
                <input class="form-control"  type="password" minLength="8" id="confirmnewpassword" placeholder="Password must be over 6 characters" id='confirmnewpassword' />
                </div>
                <div class="col-sm-6">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12" style="padding-top: 10px;">            
                    <div>
                    <button class="btn btn-lg btn-success" id="change">Change</button>
                    </div>
                </div>
            </div>
        </div>       
    </div>

    <div class="tab-pane fade" id="score" aria-labelledby="score-tab" role="tabpanel">
        <label ><h4>Điểm đánh giá: <%- user.diem_danh_gia %>/<%- user.n_danh_gia %></h4></label>
        <% comments.forEach(function(comment,index){ %>
            <div class="card" style="margin:20px">
                <div class="card-header" >
                  <%- comment.sender %>
                </div>
                <div class="card-body">
                  <p class="card-text"><%- comment.comment  %></p>
                </div>
            </div>
        <% }) %>        
    </div>
</div>

